<% include ../partials/header %>
<% include ../partials/menu %>
<div class="container">
    <form action="/preview" method="GET">
        <div class="list-group" id="online_devices">
        </div>
    </form>
    <script>
        fakeTest();
    </script>
</div>
<% include ../partials/footer %>